alloc-0.txt
alloc-1.txt
alloc-10.txt
alloc-2.txt
alloc-20.txt
alloc-3.txt
alloc-30.txt
alloc-4.txt
alloc-40.txt
alloc-6.txt
alloc-7.txt
alloc0.txt
data/san-francisco_california
data/sf-muni
src/.idea
src/.qmake.stash
src/CMakeFiles
CMakeCache.txt
scripts/moc_progress.cpp
scripts/moc_progress.o
